@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope/static/Manrope-Bold.ttf) format(truetype);
  font-weight: 700;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope/static/Manrope-ExtraBold.ttf) format(truetype);
  font-weight: 800;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope/static/Manrope-Medium.ttf) format(truetype);
  font-weight: 500;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope/static/Manrope-Regular.ttf) format(truetype);
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url(../fonts/Manrope/static/Manrope-SemiBold.ttf) format(truetype);
  font-weight: 600;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Manrope";
}
.parent_container {
  max-width: 1440px;
  margin: 0px auto;

  .header {
    min-height: 754px;
    width: 100%;
    background-image: url(../images/header_logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    .container {
      max-width: 1200px;
      margin: 0px auto;

      nav {
        padding-top: 45px;
        margin-bottom: 135px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 40px;
        button {
          padding: 10px 20px;
          background-color: #f8464a;
          color: #ffffff;
          border: none;
          border-radius: 5px;
        }
        .menu {
          display: none;
          width: 32px;
          height: 32px;
        }
        ul {
          display: flex;
          column-gap: 40px;
          li {
            a {
              font-weight: 700;
              font-size: 14px;
              line-height: 20px;
              color: #000000;
              &:hover {
                color: #f84646;
              }
            }
          }
        }
      }
      .header_title {
        max-width: 665px;
        h1 {
          font-weight: 800;
          font-size: 64px;
          line-height: 82px;
          color: #000000;
          margin-bottom: 20px;
        }
        p {
          font-weight: 400;
          font-size: 20px;
          line-height: 36px;
          letter-spacing: 0.2px;
          color: #000000;
          margin-bottom: 50px;
        }
        form {
          margin-bottom: 148px;
          position: relative;
          input {
            width: 502px;
            height: 73px;
            background: #ffffff;
            border-radius: 8px;
            border: none;
            padding-left: 20px;
            &::placeholder {
              font-family: "Manrope";
              font-weight: 400;
              font-size: 16px;
              line-height: 36px;
              letter-spacing: 0.2px;
              color: rgba(0, 0, 0, 0.4);
            }
          }
          .head_btn {
            display: none;
          }
          button {
            width: 136px;
            height: 61px;
            font-weight: 700;
            font-size: 16px;
            line-height: 36px;
            letter-spacing: 0.2px;
            background: #f84646;
            border-radius: 8px;
            color: white;
            border: none;
            position: absolute;
            right: 170px;
            top: 6px;
          }
        }
      }
    }
  }
  .main {
    .container {
      max-width: 1200px;
      //   border: 1px solid blue;
      margin: 0px auto;

      .first_sec {
        display: flex;
        flex-direction: column;

        .first_title {
          margin-top: 120px;
          margin-bottom: 100px;
          h1 {
            font-weight: 800;
            font-size: 36px;
            line-height: 49px;
            text-align: center;
            color: #000000;
            margin-bottom: 30px;
          }
          p {
            font-weight: 400;
            font-size: 24px;
            line-height: 40px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #000000;
          }
        }
      }
      .first_cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 116px;
        row-gap: 100px;
        margin-bottom: 120px;
        .card {
          align-items: center;
          display: flex;
          flex-direction: column;
          .first_cards_img {
            margin-bottom: 10px;
            width: 76px;
            height: 76px;
            display: flex;
            position: relative;
            img:nth-child(2) {
              width: 40px;
              height: 40px;
              position: absolute;
              left: 30px;
              z-index: -1;
            }
          }
          h2 {
            font-weight: 800;
            font-size: 24px;
            line-height: 33px;
            text-align: center;
            color: #000000;
            margin-bottom: 10px;
          }
          p {
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #000000;
          }
        }
      }
    }
  }
  .second_sec {
    background-image: url(../images/Stats/image\1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: orangered;
    mix-blend-mode: lighten;
    margin-bottom: 120px;
    .container {
      max-width: 1200px;
      //   border: 1px solid blue;
      margin: 0px auto;

      .second_title {
        margin-bottom: 50px;
        padding-top: 100px;
        h1 {
          font-weight: 800;
          font-size: 48px;
          line-height: 64px;
          text-align: center;
          font-feature-settings: "liga" off;
          color: #ffffff;
          margin-bottom: 10px;
        }
        h5 {
          font-weight: 400;
          font-size: 18px;
          line-height: 32px;
          text-align: center;
          font-feature-settings: "liga" off;
          color: #ffffff;
        }
      }
      .second_desc {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 100px;
        .card {
          p {
            font-weight: 700;
            font-size: 18px;
            line-height: 31px;
            font-feature-settings: "liga" off;
            color: #ffffff;
            max-width: 200px;
          }
          img {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
  }

  .third_sec {
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      max-width: 1200px;
    }
    .third_container {
      display: flex;
      justify-content: space-between;
      column-gap: 170px;
      margin-bottom: 120px;
      .left_card {
        max-width: 500px;
        h1 {
          font-weight: 700;
          font-size: 64px;
          line-height: 76px;
          color: #2e2e2e;
          margin-bottom: 40px;
        }
        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: #808080;
          margin-bottom: 80px;
        }
        button {
          width: 160px;
          height: 48px;
          background: #f84646;
          border-radius: 8px;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          color: #ffffff;
          border: none;
        }
      }
      .right_card {
        max-width: 500px;
      }
    }
  }

  .four_sec {
    background: #f4f5f7;
    .container {
      max-width: 1200px;
      //   border: 1px solid blue;
      margin: 0px auto;
    }
    .four_container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .four_title {
        margin-top: 60px;

        h1 {
          font-weight: 800;
          font-size: 48px;
          line-height: 64px;
          text-align: center;
          font-feature-settings: "salt" on, "liga" off;
          color: #18191f;
          margin-bottom: 5px;
        }
        p {
          font-weight: 500;
          font-size: 18px;
          line-height: 32px;
          text-align: center;
          font-feature-settings: "salt" on, "liga" off;
          color: #18191f;
          margin-bottom: 48px;
        }
      }
      .four_img {
        margin-bottom: 60px;
        .four_row {
          display: flex;
          align-items: center;
          .four_card {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }

  .five_sec {
    display: flex;
    justify-content: center;
    .container {
      max-width: 1200px;
      //   border: 1px solid blue;
      margin: 0px auto;
    }
    .five_container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 160px 0px;
      .img_five {
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
        position: relative;
        img:nth-child(2) {
          width: 60px;
          position: absolute;
          right: 10px;
          z-index: -1;
        }
      }
      h1 {
        font-weight: 800;
        font-size: 48px;
        line-height: 32px;
        color: #000000;
        margin-bottom: 20px;
      }
      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: #000000;
        margin-bottom: 30px;
      }
      button {
        width: 204px;
        height: 70px;
        background: #f84646;
        border-radius: 8px;
        font-weight: 600;
        font-size: 24px;
        line-height: 20px;
        color: #ffffff;
        border: none;
      }
    }
  }

  .footer {
    background: #f8464a;
    margin-bottom: 100px;
    .container {
      max-width: 1200px;
      //   border: 1px solid blue;
      margin: 0px auto;
    }
    .foot_container {
      display: flex;
      flex-direction: column;
      .list_foot {
        display: flex;
        column-gap: 100px;
        margin-top: 80px;
        margin-bottom: 55px;
        ul {
          display: flex;
          flex-direction: column;
          row-gap: 24px;
          li {
            &:nth-child(1) {
              a {
                font-family: "Inter";
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                font-feature-settings: "pnum" on, "lnum" on;
                color: #ffffff;
              }
            }
            a {
              font-family: "Inter";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 32px;
              color: #e6e6e6;
            }
          }
        }
      }
      .link_foot {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 32px;
          color: #ffffff;
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .header {
    .container {
      padding: 0px 50px;
    }
  }
  .main {
    .container {
      padding: 0px 50px;
    }
  }
  .second_sec {
    .container {
      padding: 0px 50px;
    }
  }
  .third_sec {
    .container {
      padding: 0px 50px;
    }
    .third_container {
      column-gap: 50px;
    }
  }
  .four_sec {
    .container {
      padding: 0px 50px;
    }
    .four_container {
      display: flex;
      flex-direction: column;
      .four_row {
        flex-direction: column;
        row-gap: 0px;
        img:nth-child(1) {
          margin-bottom: 50px;
        }
      }
    }
  }
  .five_sec {
    .container {
      padding: 0px 50px;
    }
  }
  .footer {
    .container {
      padding: 0px 50px;
    }
  }
}
@media screen and (max-width: 1027px) {
  .main {
    .container {
      .first_sec {
        .first_cards {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
  .second_sec {
    .second_desc {
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
      .card {
        text-align: center;
      }
    }
  }
  .third_sec {
    .third_container {
      flex-direction: column;
      row-gap: 50px;

      .right_card {
        img {
          contain: content;
        }
      }
      .left_card_2 {
        order: 2;
      }
      .right_card_2 {
        order: 1;
      }
      .left_card {
        p {
          margin-bottom: 10px;
        }
      }
    }
  }
  .footer {
    .foot_container {
      flex-direction: column;
      row-gap: 50px;
      align-items: center;
      .list_foot {
        flex-direction: column;
        row-gap: 50px;
      }
      .link_foot {
        flex-direction: column;
        row-gap: 70px;
        img {
          order: 1;
        }
        p {
          order: 2;
        }
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .header {
    .container {
      padding: 0px 10px;
      nav {
        padding-top: 45px;
        margin-bottom: 135px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu {
          display: block;
        }
        button {
          padding: 10px 20px;
          background-color: #f8464a;
          color: #ffffff;
          border: none;
          border-radius: 5px;
        }
        ul {
          display: none;
        }
      }
      .header_title {
        max-width: 665px;
        h1 {
          color: #000000;
          margin-bottom: 30px;
          font-weight: 800;
          font-size: 42px;
          line-height: 58px;
        }
        p {
          font-weight: 400;
          font-size: 12px;
          line-height: 23px;
          text-align: center;
          letter-spacing: 0.2px;
          color: #000000;
          margin-bottom: 43px;
        }
        form {
          margin-bottom: 84px;
          position: relative;
          input {
            max-width: 335px;
            height: 60px;
            background: #ffffff;
            border-radius: 8px;
            border: none;
            padding-left: 20px;
            &::placeholder {
              font-family: "Manrope";
              font-weight: 400;
              font-size: 16px;
              line-height: 36px;
              letter-spacing: 0.2px;
              color: rgba(0, 0, 0, 0.4);
            }
          }
          .head_btn {
            display: block;
            width: 90px;
            height: 50px;
            font-weight: 700;
            font-size: 16px;
            line-height: 36px;
            letter-spacing: 0.2px;
            background: #f84646;
            border-radius: 8px;
            color: white;
            border: none;
          }
          button {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .main {
    .container {
      .first_sec {
        .first_cards {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}
